.correctField {
    -fx-background-color: yellowgreen;
}

.incorrectField {
    -fx-background-color: lightpink;
}

#leftSide {
    -fx-background-color: #690eae;
}

.btnLeftSide {
    -fx-background-color: #9222e8;
    -fx-border-style: solid;
    -fx-border-color: #863681;
    -fx-border-width: 2;
}

.btnLeftSide:hover {
    -fx-background-color: #c888fc;
}

#rightSide {
    -fx-background-color: black;
}

.table-view {
    -fx-base: #332455;
    -fx-control-inner-background: #3a1780;
    -fx-background-color: #3a1780;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-font-size: 28;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 28pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


