#borderPane {
    -fx-background-image: url("../img/background_login.jpg");
    -fx-background-color: #cccccc;
    -fx-background-size: 60px;
}

.labels {
    -fx-background-color: #a1f5f2;
    -fx-font-size: 20px Arial, sans-serif;
}

#gridPane {
    -fx-background-color: black;
}

#btnLogin {
    -fx-background-color: #0589e8;
}

#btnLogin:hover {
    -fx-background-color: blue;
}
